In [51]:
import pandas as pd

/Users/weng/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/weng/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [28]:
prize_num = pd.read_csv('invoice.csv', dtype=str)

In [29]:
prize_num

,award1,award2,award3,award6,date
0,03802602,00708299,33877270、21772506、61786409,136、022,03 ~ 04 月
1,88515559,47551146,83513656、85250862、61472404,185、079、442,11 ~ 12 月
2,00106725,90819218,13440631、26650552、09775722,809、264,01 ~ 02 月
3,20048019,02142605,21240109、78323535、18549847,706、574,05 ~ 06 月
4,73372972,22315462,91903003、16228722、03270598,163、983、814,07 ~ 08 月
5,96363025,69095110,96745865、98829035、45984442,292、650、230,09 ~ 10 月

In [32]:
for i in range(len(prize_num['award3'])):
    prize_num['award3'][i] = prize_num['award3'][i].replace(' ', '')
    prize_num['award3'][i] = prize_num['award3'][i].split('、')
for i in range(len(prize_num['award6'])):
    prize_num['award6'][i] = prize_num['award6'][i].replace(' ', '')
    prize_num['award6'][i] = prize_num['award6'][i].split('、')
prize_num

,award1,award2,award3,award6,date
0,03802602,00708299,"[33877270, 21772506, 61786409]","[136, 022]",03 ~ 04 月
1,88515559,47551146,"[83513656, 85250862, 61472404]","[185, 079, 442]",11 ~ 12 月
2,00106725,90819218,"[13440631, 26650552, 09775722]","[809, 264]",01 ~ 02 月
3,20048019,02142605,"[21240109, 78323535, 18549847]","[706, 574]",05 ~ 06 月
4,73372972,22315462,"[91903003, 16228722, 03270598]","[163, 983, 814]",07 ~ 08 月
5,96363025,69095110,"[96745865, 98829035, 45984442]","[292, 650, 230]",09 ~ 10 月

In [38]:
prize_num_ls=[]
for month in prize_num['date']:
    prize_num_ls.append('prize_dict_'+month)

for i in range(len(prize_num_ls)):
    prize_num_ls[i] = dict(award1 = prize_num['award1'][i], award2 = prize_num['award2'][i], award3 = prize_num['award3'][i],
                         award6 = prize_num['award6'][i])
prize_num_ls

[{'award1': ' 03802602 ',
  'award2': ' 00708299 ',
  'award3': ['33877270', '21772506', '61786409'],
  'award6': ['136', '022']},
 {'award1': ' 88515559 ',
  'award2': ' 47551146 ',
  'award3': ['83513656', '85250862', '61472404'],
  'award6': ['185', '079', '442']},
 {'award1': ' 00106725 ',
  'award2': ' 90819218 ',
  'award3': ['13440631', '26650552', '09775722'],
  'award6': ['809', '264']},
 {'award1': ' 20048019 ',
  'award2': ' 02142605 ',
  'award3': ['21240109', '78323535', '18549847'],
  'award6': ['706', '574']},
 {'award1': ' 73372972 ',
  'award2': ' 22315462 ',
  'award3': ['91903003', '16228722', '03270598'],
  'award6': ['163', '983', '814']},
 {'award1': ' 96363025 ',
  'award2': ' 69095110 ',
  'award3': ['96745865', '98829035', '45984442'],
  'award6': ['292', '650', '230']}]

In [45]:
def compare(num):
    prize_ls=[]
    if num == prize_dict['award1']:
        prize_ls.append('特別獎')
    elif num == prize_dict['award2']:
        prize_ls.append('特獎')
    for award3_num in prize_dict['award3']:
        if num == award3_num:
            prize_ls.append('特獎')
        elif num[-7:] == award3_num[-7:]:
            prize_ls.append('二獎')
        elif num[-6:] == award3_num[-6:]:
            prize_ls.append('三獎')
        elif num[-5:] == award3_num[-5:]:
            prize_ls.append('四獎')
        elif num[-4:] == award3_num[-4:]:
            prize_ls.append('五獎')
        elif num[-3:] == award3_num[-3:]:
            prize_ls.append('六獎')
    for award6_num in prize_dict['award6']:
        if num[-3:] == award6_num:
            prize_ls.append('六獎')
    else:
        prize_ls.append('沒中獎')
    return prize_ls[0]

In [53]:
import re

In [67]:
def num_filter(ocr_result):
    #input the outcome of OCR
    pattern = re.compile(r'\d{8}')
    res = re.findall(pattern, ocr_result)
    return res[0][-8:]

In [69]:
num_filter('sasa 12345678 sasa sqwq')

'12345678'